/* 標題特效 */
.home {
    margin-top: 25px;
    position: relative;
    font-weight: 600;
    font-size: 35px;
    cursor: default;
    overflow: hidden;
} 

.home .text-wrapper {
    position: relative;
    display: inline-block;
    padding: 0.2em, 0.05em, 0.1em;
    overflow: hidden;
}
  
.home .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}