body {
  text-align: center;
  color: #e580ff;
  font-family: "Impact";
  background-image: url("./time-bg.png"); /*圖源: https://twitter.com/shima1709/status/1328723152910708736?s=20*/
  background-color: #131415;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.column,
.colon {
  display: inline-block;
  vertical-align: top;
  font-size: 86px;
  line-height: 86px;
}
.column {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.colon {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(calc(50vh - 43px));
  transform: translateY(calc(50vh - 43px));
}
.colon:after {
  content: ":";
}
.num {
  -webkit-transition: opacity 500ms, text-shadow 100ms;
  transition: opacity 500ms, text-shadow 100ms;
  opacity: 0.025;
}
.num.visible {
  opacity: 1;
  text-shadow: 1px 1px 0px black;
}
.num.close {
  opacity: 0.35;
}
.num.far {
  opacity: 0.15;
}
.num.distant {
  opacity: 0.1;
}
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l7gdbjpo0cum0ckerWCdlg_O.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
html.easy-sidebar-active {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  transition: 0.2s ease;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body.toggled {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

.navbar.easy-sidebar {
  transition: 0.2s ease;
  position: absolute;
  width: 250px;
  top: 0;
  left: -250px;
  min-height: 100%;
  border-radius: 0;
  margin: 0;
  z-index: 9999;
}

.navbar.easy-sidebar.toggled {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

body.toggled-right {
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

.navbar.easy-sidebar-right {
  transition: 0.2s ease;
  position: absolute;
  width: 250px;
  top: 0;
  right: -250px;
  min-height: 100%;
  border-radius: 0;
  margin: 0;
  z-index: 9999;
}

.navbar.easy-sidebar-right.toggled-right {
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

.easy-sidebar .btn {
  width: 100%;
}

.navbar.easy-sidebar .navbar-header {
  margin: 0 -15px;
  float: none;
}

.navbar.easy-sidebar .navbar-brand {
  margin: 0;
}

.navbar.easy-sidebar .navbar-toggle {
  display: inline-block;
}
.navbar.easy-sidebar .navbar-toggle span.icon-bar:nth-child(2) {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: translate(2px, -5px) rotate(45deg);
  transform: translate(2px, -5px) rotate(45deg);
}
.navbar.easy-sidebar .navbar-toggle span.icon-bar:nth-child(3) {
  display: none;
}
.navbar.easy-sidebar .navbar-toggle span.icon-bar:nth-child(4) {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: translate(2px, 4.5px) rotate(-45deg);
  transform: translate(2px, 4.5px) rotate(-45deg);
}

.navbar.easy-sidebar .nav.navbar-nav {
  margin: 7.5px -15px;
  float: none;
}
.navbar.easy-sidebar .nav.navbar-nav > li {
  float: none;
}
.navbar.easy-sidebar .nav.navbar-nav > li > a {
  padding: 10px 15px;
}

.navbar.easy-sidebar .navbar-nav .open .dropdown-menu .divider {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar.easy-sidebar .navbar-form {
  padding: 10px 15px;
  margin: 8px -15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.easy-sidebar .navbar-form .form-group {
  margin-bottom: 5px;
  display: block;
}
.navbar.easy-sidebar .navbar-form .form-group .form-control {
  display: block;
  width: 100%;
}

/**/
.navbar.easy-sidebar-right .navbar-header {
  margin: 0 -15px;
  float: none;
}

.navbar.easy-sidebar-right .navbar-brand {
  margin: 0;
}

.navbar.easy-sidebar-right .navbar-toggle {
  display: inline-block;
}
.navbar.easy-sidebar-right .navbar-toggle span.icon-bar:nth-child(2) {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: translate(2px, -5px) rotate(45deg);
  transform: translate(2px, -5px) rotate(45deg);
}
.navbar.easy-sidebar-right .navbar-toggle span.icon-bar:nth-child(3) {
  display: none;
}
.navbar.easy-sidebar-right .navbar-toggle span.icon-bar:nth-child(4) {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: translate(2px, 4.5px) rotate(-45deg);
  transform: translate(2px, 4.5px) rotate(-45deg);
}

.navbar.easy-sidebar-right .nav.navbar-nav {
  margin: 7.5px -15px;
  float: none;
}
.navbar.easy-sidebar-right .nav.navbar-nav > li {
  float: none;
}
.navbar.easy-sidebar-right .nav.navbar-nav > li > a {
  padding: 10px 15px;
}

.navbar.easy-sidebar-right .navbar-nav .open .dropdown-menu .divider {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar.easy-sidebar-right .navbar-form {
  padding: 10px 15px;
  margin: 8px -15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar.easy-sidebar-right .navbar-form .form-group {
  margin-bottom: 5px;
  display: block;
}
.navbar.easy-sidebar-right .navbar-form .form-group .form-control {
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  body.toggled {
    position: fixed;
  }
}
