.home{
    color: rgb(0, 0, 0);
    position: relative;
    font-weight: 600;
    font-size: 4em;
    cursor: default;
    overflow: hidden;
} 
.home .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.home .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}


/*淡入*/
.fade-in2s{
    position: relative;
    animation: fade-in 2s 1 forwards;
}

.fade-in3s{
    position: relative;
    animation: fade-in 3s 1 forwards;
}
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}