@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Righteous','Noto Sans HK';
    background-color: lightslategrey;
}

.tab {
    border-Radius: 5px;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    width: 20%;
  }

.left{
    position:absolute;
    width: 45%;
    height: 43em;
    float:left;
}

.input textarea{
    resize: none;
    width: 80%;
    height: 630px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .5);
    border: lightslategrey;
    border-Radius: 5px;
}