.all-link{
    height: 60px;
    animation: fade-in 2s 1;
}
.all-link span,
.all-link i{
    color: #11101d;
    font-size: 30px;
}
.all-link i{
    margin: 0 15px;
    cursor: default;
}
.all-link span{
    text-transform:uppercase;
}
.all-link a{
    text-decoration:none;
}
.kirito{
    padding:50px;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%,-50%);
}
#discord{
    cursor: pointer; 
}