@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Righteous','Noto Sans HK';
    background-color: lightslategrey;
}
input[type]{
    font-family: 'Righteous','Noto Sans HK';
}
Select{
    font-family: 'Righteous','Noto Sans HK';
}