<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <title>oF|Home</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Logo -->
    <link rel="icon" type="image/x-icon" href="https://kiriqua.com/images/logo/logo.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://kiriqua.com/images/logo/logo.png"/>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="../assets/css/Initialization.css">
    <link rel="stylesheet" href="../assets/css/layout/html.css">
    <!-- ICON LINK -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../assets/css/src/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/src/animate.min.css">
    <!-- Font Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+TC&display=swap">
</head>
<body>
<div class="sidebars">
    <!-- Navbar -->
    <div class="logo-details">
        <i class="fa fa-wheelchair-alt pointer" aria-hidden="true"></i>
        <span class="logo_name">SuperKirito</span>
    </div>
    <ul class="nav-links">
        <!-- Home -->
        <li>
            <a href="../index.html">
                <i class="bx bx-home"></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="../index.html">Home</a></li>
            </ul>
        </li>
        <!-- About -->
        <li>
            <a href="../layout/about.html" id="about">
                <i class="bx bxs-user-account"></i>
                <span class="link_name">About</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="../layout/about.html">About</a></li>
            </ul>
        </li>
        <!-- Skills -->
        <li>
            <a href="../layout/skills.html">
                <i class="bx bxs-chip"></i>
                <span class="link_name">Skills</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="../layout/skills.html">Skills</a></li>
            </ul>
        </li>
        <!-- Projects -->
        <li>
        <div class="iocn-link">
            <a>
                <i class="bx bx-collection"></i>
                <span class="link_name" id="show">Projects</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name">Projects</a></li>
            <li><a href="../layout/html.html">HTML & CSS & JS</a></li>
            <li><a href="../layout/python.html">Python</a></li>
            <li><a href="../layout/php.html">PHP</a></li>
        </ul>
        </li>
        <!-- Link -->
        <li>
            <a href="../layout/links.html">
                <i class='bx bx-link'></i>
                <span class="link_name">Link</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="../layout/links.html">Link</a></li>
            </ul>
            </li>
        <li>
        <div class="profile-details">
            <div class="profile-content">
                <img src="../assets/images/cool.webp">
            </div>
            <div class="name-job">
                <div class="profile_name">oF</div>
                <div class="job">吃素異類反抗軍</div>
            </div>
            <a href="https://www.google.com/">
                <i class='bx bx-log-out'></i>
            </a>
        </div>
        </li>
    </ul>
</div>

<section class="home-section">
    <header id="home" class="navbar-fixed">
        <nav class="backdrop-blur">
            <div class="container">
                <a href="../index.html" class="sidenav-trigger brand-logo left teal-text text-accent-3">
                    <span><i class="fa fa-wheelchair-alt" aria-hidden="true"></i>SuperKirito</span>
                </a>
                <a href="" class="right sidenav-trigger show-on-medium-and-up" data-target="slide-out">
                    <span><i class='bx bx-menu'></i></span>
                </a>
            </div>
        </nav>
    </header>

    <ul id="slide-out" class="sidenav collapsible white">
        <li class="center-align side-logo"><i class="fa fa-wheelchair-alt"></i>&nbsp;SuperKirito</li>
        <li><a class="collapsible-header sidenav-close" href="../index.html">Home</a></li>
        <li><a class="collapsible-header sidenav-close" href="../layout/about.html">About Me</a></li>
        <li><a class="collapsible-header sidenav-close" href="../layout/skills.html">Skills</a></li>
        <li>
            <a class="collapsible-header">Projects</a>
            <div class="collapsible-body">
                <a href="../layout/html.html">&nbsp;&emsp;HTML & CSS & JS</a><br>
                <a href="../layout/python.html">&nbsp;&emsp;Python</a><br>
                <a href="../layout/php.html">&nbsp;&emsp;PHP</a><br>
            </div>
        </li>
        <li><a class="collapsible-header sidenav-close" href="../layout/links.html">Link</a></li>
        <li><div class="divider"></div></li>
    </ul>
    
    <div class="container">
        <!-- 內容 -->
        <div class="title center-align">
            <span class="text-wrapper">
                <span class="letters">HTML & CSS & JS</span>
            </span>
        </div>
        <div class="row" id="html-card">
            <!-- Html Card -->
        </div>
        <!-- 底端 -->
    </div>
</section>

<!-- Frame LINK -->
<script src="../assets/js/src/jquery-3.6.0.min.js"></script>
<script src="../assets/js/src/materialize.min.js"></script>
<script src="../assets/js/src/anime.min.js"></script>
<!-- JavaScript LINK -->
<script type="text/javascript" src="../assets/js/Initialization.js"></script>
<script type="text/javascript" src="../assets/js/layout/html.js"></script>
</body>
</html>