.about-img{
    border:3px #59d3fb dashed;
    animation: fade-in 3s 1 forwards;
}
.about-text{
    font-size: medium;
    animation: fade-in 3s 1 forwards;
}
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}