body{
    font-size: 20px;
}
.code{
    font-size: 17px;
    color: #fff;
    overflow:auto;
    width: auto;
    height: auto;
    white-space:nowrap;
}
.code span{
    color: #ff4081;
}
.code .ed{
    color: #81d4fa;
}
.code .tag{
    color: #ff80ab;
}
.code .id{
    color: #ce93d8;
}
table{
    overflow:auto;
    width: auto;
    height: auto;
    white-space:nowrap;
}