.home{
    color: rgb(0, 0, 0);
    position: relative;
    font-weight: 600;
    font-size: 40px;
    cursor: default;
    overflow: hidden;
} 
.home .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
  
.home .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}